<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="GAC" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="CoGAC" Directory="GAC">
            <Component Id="GAC_CcgVault.exe" Guid="eac425c0-ae89-4f1e-8236-2aafe3f57c9b">
                <File Id="GAC_CcgVault.exe" KeyPath="yes" Assembly=".net" Source="$(var.SourceDir)\CcgVault.exe" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
